version: "3.9"

services:
  web:
    image: <dockerhub_user>/Castanaeta-Joyeria:latest
    container_name: castanaeta-jewelry
    ports:
      - "5000:5000"
    env_file:
      - .env
    restart: unless-stopped
