{% extends "base.html" %}
{% block content %}

<section class="collection-header">
    <h1>{{ category|capitalize if category else "All Jewelry" }}</h1>
</section>

<div class="product-grid">
    {% for product in products %}
    <div class="product-card">

        <img src="{{ url_for('static', filename=product.image) }}"
             alt="{{ product.name }}">

        <h3>{{ product.name }}</h3>
        <p class="price">{{ product.price }} ₪</p>

        <a href="/product/{{ product.id }}" class="view-button">
            View Details
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}
