{% extends "base.html" %}
{% block content %}

<div class="product-container">
    <img src="{{ '/' + product.image }}" class="detail-img">

    <div class="detail-info">
        <h2>{{ product.name }}</h2>
        <p class="price">{{ product.price }} ₪</p>
        <p>{{ product.description }}</p>

        <a class="contact-btn"
           href="https://wa.me/972000000000?text=Hello,%20I'm%20interested%20in%20{{ product.name }}">
           Contact to Order
        </a>
    </div>
</div>

{% endblock %}
