{% extends "base.html" %}
{% block content %}

<section class="collection-header">
    <h1>{{ category|capitalize if category else "All Jewelry" }}</h1>
</section>

<div class="product-grid">
    {% for product in products %}
    <div class="product-card">

        <img src="{{ url_for('static', filename=product.image) }}"
             alt="{{ product.name }}">

        <h3>{{ product.name }}</h3>
        <p class="price">{{ product.price }} ₪</p>

        <div class="product-actions">
            <!-- View product page -->
            <a href="{{ url_for('product_detail', product_id=product.id) }}"
               class="view-button">
                View Details
            </a>

            <!-- Add to cart -->
            <a href="{{ url_for('add_to_cart', product_id=product.id) }}"
               class="add-cart-btn small">
               Add to Cart
                <span class="cart-icon">🛒</span>
                
            </a>
        </div>

    </div>
    {% endfor %}
</div>

{% endblock %}
