{% extends "base.html" %}
{% block content %}

<div class="checkout-page">
  <div class="checkout-card">
    <div class="checkout-left">

      <h1 class="page-title">Thank you for your order 🎉</h1>

      <p>Your payment was completed successfully.</p>

      <p>
        A confirmation email has been sent to your email address.
      </p>

      <div class="checkout-actions">
        <a href="{{ url_for('collection') }}" class="btn-primary">
          Continue Shopping
        </a>
      </div>

    </div>
  </div>
</div>

{% endblock %}
