name: CI - Build & Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      # ⬇️ משיכת הקוד
      - name: Checkout repository
        uses: actions/checkout@v4

      # ⬇️ התחברות ל-Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # ⬇️ Build + Push
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            <dLior98>/Castanaeta-Joyeria:latest
            <Lior98>/Castanaeta-Joyeria:${{ github.sha }}
